.wrapper-body {
    margin-top: 72px;
}

/* .wrapper-items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
} */

.wrapper-items {
    column-gap: 0px;
}

@media (min-width: 768px) {
    .wrapper-items {
        column-count: 2;
    }
}

@media (min-width: 1024px) {
    .wrapper-items {
        column-count: 3;
    }
}

@media (min-width: 1280px) {
    .wrapper-items {
        column-count: 6;
    }
}
