.login-box {
    display: flex;
    background-image: url(../../img/1-min.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.login-intro {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.login-ideas {
    color: white;
    align-self: center;
    justify-content: center;
    width: 60%;
    font-size: 70px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo,
        'ＭＳ Ｐゴシック', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    user-select: none;
}

.login {
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.login__container_welcome {
    color: rgb(51, 51, 51);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1.2px;
    padding-left: 16px;
    padding-right: 16px;
    user-select: none;
}

.login__container_ideas {
    margin-bottom: 40px;
    color: rgb(51, 51, 51);
    user-select: none;
}

.login__textBox {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 14px;
    border-color: rgba(0, 0, 0, 0.3);
}
.login__btn {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: #be0216;
    cursor: pointer;
    border-radius: 22px;
}
.login div {
    margin-top: 7px;
}

.logo-auth {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 100%;
    user-select: none;
}

@media (max-width: 760px) {
    .login-intro {
        display: none;
    }
    .login {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
