* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

#disabled {
    opacity: 0.1;
    pointer-events: none;
}
/* header */

/* content */

.content {
    height: 1000px;
}
